*.pdf
# Ignoruj katalogi ustawień PyCharm
../.idea/

# Ignoruj pliki kompilacji, środowiska wirtualne oraz inne pliki tymczasowe

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Wirtualne środowiska
venv/
ENV/
env/
.venv/
.ENV/
.pyenv/
.idea/

.png
.jpg
.jpeg

# Pliki logów i tymczasowe
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

# Baza danych SQLite
*.sqlite3
/lab6/bird_miniatures_unzipped/E0071_TR0001_OB0031_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0089_TR0005_OB2257_T01_M13.jpg
/lab6/bird_miniatures_unzipped/E0089_TR0006_OB0366_T01_M16.jpg
/lab6/bird_miniatures_unzipped/E0098_TR0000_OB0098_T01_M04.jpg
/lab6/bird_miniatures_unzipped/E0206_TR0001_OB0020_T01_M10.jpg
/lab6/bird_miniatures_unzipped/E0222_TR0000_OB0077_T01_M16.jpg
/lab6/bird_miniatures_unzipped/E0294_TR0000_OB0030_T01_M10.jpg
/lab6/bird_miniatures_unzipped/E0297_TR0000_OB0036_T01_M16.jpg
/lab6/bird_miniatures_unzipped/E0411_TR0001_OB0477_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0411_TR0001_OB0486_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0418_TR0000_OB1504_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0418_TR0000_OB1594_T01_M04.jpg
/lab6/bird_miniatures_unzipped/E0418_TR0000_OB1797_T01_M04.jpg
/lab6/bird_miniatures_unzipped/E0453_TR0001_OB0301_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0453_TR0001_OB0564_T01_M02.jpg
/lab6/bird_miniatures_unzipped/E0454_TR0000_OB0010_T01_M02.jpg
/lab5/dogs-cats-mini/
/projekt1/cars_data/
/projekt1/cars_data.zip
